# Netflix Movies Recomendation System
BY Sheikh Md Abid
## Project Workflow

### 1. **Importing Libraries**
The necessary Python libraries such as `numpy`, `pandas`, and `ast` are imported to handle data processing and manipulation.

In [1]:
import numpy as np
import pandas as pd

### 2. Loading the Datasets
The datasets `tmdb_5000_movies.csv` and `tmdb_5000_credits.csv` are loaded using Pandas. These datasets contain information about movies, including titles, genres, cast, crew, and more, which will be used to build the recommendation system.

In [2]:
movies = pd.read_csv("tmdb_5000_movies.csv")
credits = pd.read_csv("tmdb_5000_credits.csv")
movies_list = pd.read_csv("movies.csv")
ratings = pd.read_csv("ratings.csv")

In [3]:
movies.head(1)

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2009-12-10,2787965087,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800

In [4]:
credits.head(1)

,movie_id,title,cast,crew
0,19995,Avatar,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."

In [5]:
ratings.head(1)

   userId  movieId  rating   timestamp
0       1      296     5.0  1147880044

In [6]:
movies_list.head(1)

   movieId             title                                       genres
0        1  Toy Story (1995)  Adventure|Animation|Children|Comedy|Fantasy

### 3. Processing datasets

In [7]:
# dropping genres column from movies_list dataframe as it is already available in movies dataframe.
movies_list = movies_list.drop('genres', axis=1)
movies_list.head(1)

   movieId             title
0        1  Toy Story (1995)

In [8]:
# making title similar to movies dataframe to join with movies dataframe on the basis of titles.
movies_list['title'] = movies_list['title'].str.replace(r'\(\d{4}\)', '', regex=True).str.strip()
movies_list.head(2)

   movieId      title
0        1  Toy Story
1        2    Jumanji

### 4. Merging Datasets
The `movies` and `credits` datasets are merged on the movie `title` to combine relevant information from both datasets into a single dataframe. This allows for a more comprehensive analysis by linking movie metadata with corresponding cast and crew details.

In [9]:
# merging ratings and movies_list dataframe on the basis of movies IDs. and droping the duplicates if available.
ratings_with_movies = ratings.merge(movies_list, on='movieId')
ratings_with_movies = ratings_with_movies.drop_duplicates(subset=['userId', 'movieId', 'rating'])
ratings_with_movies.head(2)

   userId  movieId  rating   timestamp         title
0       1      296     5.0  1147880044  Pulp Fiction
1       3      296     5.0  1439474476  Pulp Fiction

In [10]:
ratings_with_movies.shape

(25000095, 5)

In [11]:
# merging movies and credits dataframe on the basis of movies title.
movies = movies.merge(credits, on='title')
movies.head(1)

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,...,runtime,spoken_languages,status,tagline,title,vote_average,vote_count,movie_id,cast,crew
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...",...,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800,19995,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."

In [12]:
# merging movies and movies list dataframe to get IDs of movie list dataset.
movies = movies.merge(movies_list, on='title')
movies.head(1)

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,...,spoken_languages,status,tagline,title,vote_average,vote_count,movie_id,cast,crew,movieId
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...",...,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800,19995,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de...",72998

In [13]:
# merging movies and ratings datasets on movies ID to get previous IDs from main metadata sets (movies dataframe) in ratings dataframe.
movies_ratings_all = movies.merge(ratings, on = 'movieId')
rating_main = movies_ratings_all[['userId', 'movie_id', 'title', 'rating']]
rating_main = rating_main.drop_duplicates(subset=['userId', 'movie_id', 'rating'])
rating_main.head(1)

   userId  movie_id   title  rating
0       3     19995  Avatar     4.0

In [14]:
rating_main.shape

(12664758, 4)

### 4. Data Preprocessing
The merged dataset is reduced to the most relevant columns for building the recommendation system. These columns include `movie_id`, `title`, `overview`, `genres`, `keywords`, `cast`, and `crew`. This reduction helps to focus the analysis on the essential features needed for content-based recommendations.

In [15]:
# taking necessary features for content based recommendation.
meta_movies = movies[['movie_id','title','overview','genres','keywords','cast','crew']]
meta_movies.head(1)

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...","[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."

In [16]:
# taking genuine User for rating
x = rating_main.groupby('userId').count()['rating'] > 200
genuine_user = x[x].index

# taking above average rated movies only for recommendation.
x = rating_main.groupby('title').mean()['rating'] > 2.5
high_rated_movies = x[x].index

# modifying the rating dataset on the basis of genuine users and above average rated movies.
filtered_rating = rating_main[rating_main['userId'].isin(genuine_user) & rating_main['title'].isin(high_rated_movies)]
filtered_rating.shape

(5190578, 4)

In [17]:
# taking the movies which has at least 50 different ratings.
y = filtered_rating.groupby('title').count()['rating']>=50
famous_movies = y[y].index

# modifying the rating dataset on the basis of famous movies among users.
final_ratings = filtered_rating[filtered_rating['title'].isin(famous_movies)]
final_ratings = final_ratings.drop_duplicates()
final_ratings

          userId  movie_id              title  rating
0              3     19995             Avatar     4.0
2             12     19995             Avatar     4.0
3             13     19995             Avatar     4.0
11            75     19995             Avatar     3.0
20           181     19995             Avatar     1.5
...          ...       ...                ...     ...
12770259  150864     25975  My Date with Drew     4.5
12770260  151876     25975  My Date with Drew     2.0
12770261  152690     25975  My Date with Drew     2.0
12770262  155853     25975  My Date with Drew     2.5
12770263  156480     25975  My Date with Drew     3.5

[5183100 rows x 4 columns]

In [18]:
user_movie_rating_table = final_ratings.pivot_table(index='movie_id',columns='userId',values='rating')
user_movie_rating_table.fillna(0, inplace=True)
user_movie_rating_table

userId,3,12,13,31,43,57,72,75,80,120,...,162481,162484,162495,162508,162512,162516,162519,162521,162533,162534
movie_id,,,,,,,,,,,,,,,,,,,,,
5,0.0,4.0,0.0,0.0,0.0,0.0,4.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,3.5,0.0,0.0,0.0,0.0
12,4.0,4.0,4.0,3.0,4.0,4.5,0.0,0.0,0.0,0.0,...,4.0,3.0,1.0,5.0,4.5,4.0,0.0,4.0,4.5,4.0
13,4.0,4.0,5.0,3.0,5.0,4.0,5.0,2.0,4.0,5.0,...,4.5,3.0,5.0,5.0,0.0,4.5,0.0,3.5,4.5,2.5
14,5.0,4.0,4.0,3.0,5.0,5.0,5.0,3.5,4.0,5.0,...,4.0,3.5,4.0,0.0,4.0,5.0,5.0,0.0,4.0,4.0
16,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,3.5,0.0,0.0,0.0,4.0,2.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
365222,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
374461,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
376659,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,3.0,0.0,0.0,0.0,0.0
396152,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
417859,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

### 5. Handling Missing Data
To ensure clean and consistent data, rows with missing values in the selected columns are dropped. This step is crucial for maintaining the integrity of the dataset, as missing values could affect the accuracy of the recommendation system.

In [19]:
meta_movies.dropna(inplace=True)
meta_movies.drop_duplicates()

C:\Users\smabi\AppData\Local\Temp\ipykernel_6680\993614108.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  meta_movies.dropna(inplace=True)

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...","[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...","[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...","[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...","[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,206647,Spectre,A cryptic message from Bond’s past sends him o...,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...","[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."
4,49529,John Carter,"John Carter is a war-weary, former military ca...","[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[{""id"": 818, ""name"": ""based on novel""}, {""id"":...","[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de..."
5,559,Spider-Man 3,The seemingly invincible Spider-Man goes up ag...,"[{""id"": 14, ""name"": ""Fantasy""}, {""id"": 28, ""na...","[{""id"": 851, ""name"": ""dual identity""}, {""id"": ...","[{""cast_id"": 30, ""character"": ""Peter Parker / ...","[{""credit_id"": ""52fe4252c3a36847f80151a5"", ""de..."
...,...,...,...,...,...,...,...
4328,14337,Primer,Friends/fledgling entrepreneurs invent a devic...,"[{""id"": 878, ""name"": ""Science Fiction""}, {""id""...","[{""id"": 1448, ""name"": ""distrust""}, {""id"": 2101...","[{""cast_id"": 1, ""character"": ""Aaron"", ""credit_...","[{""credit_id"": ""52fe45e79251416c75066791"", ""de..."
4329,72766,Newlyweds,A newlywed couple's honeymoon is upended by th...,"[{""id"": 35, ""name"": ""Comedy""}, {""id"": 10749, ""...",[],"[{""cast_id"": 1, ""character"": ""Buzzy"", ""credit_...","[{""credit_id"": ""52fe487dc3a368484e0fb013"", ""de..."
4330,231617,"Signed, Sealed, Delivered","""Signed, Sealed, Delivered"" introduces a dedic...","[{""id"": 35, ""name"": ""Comedy""}, {""id"": 18, ""nam...","[{""id"": 248, ""name"": ""date""}, {""id"": 699, ""nam...","[{""cast_id"": 8, ""character"": ""Oliver O\u2019To...","[{""credit_id"": ""52fe4df3c3a36847f8275ecf"", ""de..."
4331,126186,Shanghai Calling,When ambitious New York attorney Sam is sent t...,[],[],"[{""cast_id"": 3, ""character"": ""Sam"", ""credit_id...","[{""credit_id"": ""52fe4ad9c3a368484e16a36b"", ""de..."
4332,25975,My Date with Drew,Ever since the second grade when he first saw ...,"[{""id"": 99, ""name"": ""Documentary""}]","[{""id"": 1523, ""name"": ""obsession""}, {""id"": 224...","[{""cast_id"": 3, ""character"": ""Herself"", ""credi...","[{""credit_id"": ""58ce021b9251415a390165d9"", ""de..."

### 6. Data Transformation for content based recommendation
The columns `genres`, `keywords`, `cast`, and `crew` contain nested JSON-like structures, which need to be converted into lists of strings for further processing. This transformation is done using the `ast.literal_eval()` function, along with custom helper functions, to extract the relevant information from these nested structures.

In [20]:
import ast

In [21]:
def convert(text):
    L = []
    for i in ast.literal_eval(text):
        L.append(i['name']) 
    return L

In [22]:
meta_movies['genres'] = meta_movies['genres'].apply(convert)

C:\Users\smabi\AppData\Local\Temp\ipykernel_6680\2178911673.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  meta_movies['genres'] = meta_movies['genres'].apply(convert)

In [23]:
meta_movies['keywords'] = meta_movies['keywords'].apply(convert)
meta_movies.head(1)

C:\Users\smabi\AppData\Local\Temp\ipykernel_6680\3443131118.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  meta_movies['keywords'] = meta_movies['keywords'].apply(convert)

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","[Action, Adventure, Fantasy, Science Fiction]","[culture clash, future, space war, space colon...","[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."

### 7. Processing Cast and Crew for content based recommendation
The `cast` and `crew` columns are refined to focus on the most relevant information:

- **Cast:** The `cast` column is limited to the top 3 actors, as they typically have the most significant impact on a movie's identity and appeal.
- **Crew:** The `crew` column is filtered to retain only the director's name, as the director plays a crucial role in shaping the movie's vision and style.

These transformations ensure that the tags used for recommendations are concise and focused on the key contributors to a movie.

In [24]:
def convert3(text):
    L = []
    counter = 0
    for i in ast.literal_eval(text):
        if counter < 3:
            L.append(i['name'])
        counter+=1
    return L

In [25]:
meta_movies['cast'] = meta_movies['cast'].apply(convert)
meta_movies.head(1)

C:\Users\smabi\AppData\Local\Temp\ipykernel_6680\2695036091.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  meta_movies['cast'] = meta_movies['cast'].apply(convert)

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","[Action, Adventure, Fantasy, Science Fiction]","[culture clash, future, space war, space colon...","[Sam Worthington, Zoe Saldana, Sigourney Weave...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."

In [26]:
meta_movies['cast'] = meta_movies['cast'].apply(lambda x:x[0:3])

C:\Users\smabi\AppData\Local\Temp\ipykernel_6680\308105245.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  meta_movies['cast'] = meta_movies['cast'].apply(lambda x:x[0:3])

In [27]:
def fetch_director(text):
    L = []
    for i in ast.literal_eval(text):
        if i['job'] == 'Director':
            L.append(i['name'])
    return L

In [28]:
meta_movies['crew'] = meta_movies['crew'].apply(fetch_director)

C:\Users\smabi\AppData\Local\Temp\ipykernel_6680\1682166846.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  meta_movies['crew'] = meta_movies['crew'].apply(fetch_director)

In [29]:
meta_movies.sample(3)

,movie_id,title,overview,genres,keywords,cast,crew
756,82682,Gangster Squad,"Los Angeles, 1949. Ruthless, Brooklyn-born mob...","[Crime, Drama, Action, Thriller]","[los angeles, gangster]","[Josh Brolin, Ryan Gosling, Nick Nolte]",[Ruben Fleischer]
934,46529,I Am Number Four,A teenage fugitive with an incredible secret r...,"[Action, Thriller, Science Fiction, Adventure]","[secret identity, alien, teenage boy, teenage ...","[Alex Pettyfer, Timothy Olyphant, Teresa Palmer]",[D.J. Caruso]
2806,62728,Brighton Rock,"Charts the headlong fall of Pinkie, a razor-wi...","[Drama, Thriller, Crime]","[waitress, riot, gang war, nightmare, prayer, ...","[Andy Serkis, Helen Mirren, John Hurt]",[Rowan Joffe]

### 8. Removing Spaces in Tags for content based recommendation
To ensure that the vectorization process works effectively, spaces in the tags (such as actor names, genres, keywords, etc.) are removed. This step prevents issues where multi-word tags might be treated as separate tokens, which could dilute their significance in the recommendation system.

In [30]:
def collapse(L):
    L1 = []
    for i in L:
        L1.append(i.replace(" ",""))
    return L1

In [31]:
meta_movies['cast'] = meta_movies['cast'].apply(collapse)
meta_movies['crew'] = meta_movies['crew'].apply(collapse)
meta_movies['genres'] = meta_movies['genres'].apply(collapse)
meta_movies['keywords'] = meta_movies['keywords'].apply(collapse)

C:\Users\smabi\AppData\Local\Temp\ipykernel_6680\3645196148.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  meta_movies['cast'] = meta_movies['cast'].apply(collapse)
C:\Users\smabi\AppData\Local\Temp\ipykernel_6680\3645196148.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  meta_movies['crew'] = meta_movies['crew'].apply(collapse)
C:\Users\smabi\AppData\Local\Temp\ipykernel_6680\3645196148.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  meta_movies['genres'] = meta_movies['genres'].apply(collapse)
C:\Users\smabi\AppData\Local\Temp\ipykernel_6680\3645196148.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  meta_movies['keywords'] = meta_movies['keywords'].apply(collapse)

In [32]:
meta_movies.head()

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","[Action, Adventure, Fantasy, ScienceFiction]","[cultureclash, future, spacewar, spacecolony, ...","[SamWorthington, ZoeSaldana, SigourneyWeaver]",[JamesCameron]
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...","[Adventure, Fantasy, Action]","[ocean, drugabuse, exoticisland, eastindiatrad...","[JohnnyDepp, OrlandoBloom, KeiraKnightley]",[GoreVerbinski]
2,206647,Spectre,A cryptic message from Bond’s past sends him o...,"[Action, Adventure, Crime]","[spy, basedonnovel, secretagent, sequel, mi6, ...","[DanielCraig, ChristophWaltz, LéaSeydoux]",[SamMendes]
3,206647,Spectre,A cryptic message from Bond’s past sends him o...,"[Action, Adventure, Crime]","[spy, basedonnovel, secretagent, sequel, mi6, ...","[DanielCraig, ChristophWaltz, LéaSeydoux]",[SamMendes]
4,49529,John Carter,"John Carter is a war-weary, former military ca...","[Action, Adventure, ScienceFiction]","[basedonnovel, mars, medallion, spacetravel, p...","[TaylorKitsch, LynnCollins, SamanthaMorton]",[AndrewStanton]

### 9. Creating the Tags Column for content based recommendation
A new column called `tags` is created by combining the content from the `overview`, `genres`, `keywords`, `cast`, and `crew` columns into a single string. This consolidated column serves as the primary input for generating movie recommendations, as it encapsulates all the key descriptive information about each movie.

In [33]:
meta_movies['overview'] = meta_movies['overview'].apply(lambda x:x.split())

C:\Users\smabi\AppData\Local\Temp\ipykernel_6680\1861216780.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  meta_movies['overview'] = meta_movies['overview'].apply(lambda x:x.split())

In [34]:
meta_movies['tags'] = meta_movies['overview'] + meta_movies['genres'] + meta_movies['keywords'] + meta_movies['cast'] + meta_movies['crew']

C:\Users\smabi\AppData\Local\Temp\ipykernel_6680\3852892824.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  meta_movies['tags'] = meta_movies['overview'] + meta_movies['genres'] + meta_movies['keywords'] + meta_movies['cast'] + meta_movies['crew']

In [45]:
meta_movies

,movie_id,title,overview,genres,keywords,cast,crew,tags
0,19995,Avatar,"[In, the, 22nd, century,, a, paraplegic, Marin...","[Action, Adventure, Fantasy, ScienceFiction]","[cultureclash, future, spacewar, spacecolony, ...","[SamWorthington, ZoeSaldana, SigourneyWeaver]",[JamesCameron],"[In, the, 22nd, century,, a, paraplegic, Marin..."
1,285,Pirates of the Caribbean: At World's End,"[Captain, Barbossa,, long, believed, to, be, d...","[Adventure, Fantasy, Action]","[ocean, drugabuse, exoticisland, eastindiatrad...","[JohnnyDepp, OrlandoBloom, KeiraKnightley]",[GoreVerbinski],"[Captain, Barbossa,, long, believed, to, be, d..."
2,206647,Spectre,"[A, cryptic, message, from, Bond’s, past, send...","[Action, Adventure, Crime]","[spy, basedonnovel, secretagent, sequel, mi6, ...","[DanielCraig, ChristophWaltz, LéaSeydoux]",[SamMendes],"[A, cryptic, message, from, Bond’s, past, send..."
4,49529,John Carter,"[John, Carter, is, a, war-weary,, former, mili...","[Action, Adventure, ScienceFiction]","[basedonnovel, mars, medallion, spacetravel, p...","[TaylorKitsch, LynnCollins, SamanthaMorton]",[AndrewStanton],"[John, Carter, is, a, war-weary,, former, mili..."
5,559,Spider-Man 3,"[The, seemingly, invincible, Spider-Man, goes,...","[Fantasy, Action, Adventure]","[dualidentity, amnesia, sandstorm, loveofone's...","[TobeyMaguire, KirstenDunst, JamesFranco]",[SamRaimi],"[The, seemingly, invincible, Spider-Man, goes,..."
...,...,...,...,...,...,...,...,...
4328,14337,Primer,"[Friends/fledgling, entrepreneurs, invent, a, ...","[ScienceFiction, Drama, Thriller]","[distrust, garage, identitycrisis, timetravel,...","[ShaneCarruth, DavidSullivan, CaseyGooden]",[ShaneCarruth],"[Friends/fledgling, entrepreneurs, invent, a, ..."
4329,72766,Newlyweds,"[A, newlywed, couple's, honeymoon, is, upended...","[Comedy, Romance]",[],"[EdwardBurns, KerryBishé, MarshaDietlein]",[EdwardBurns],"[A, newlywed, couple's, honeymoon, is, upended..."
4330,231617,"Signed, Sealed, Delivered","[""Signed,, Sealed,, Delivered"", introduces, a,...","[Comedy, Drama, Romance, TVMovie]","[date, loveatfirstsight, narration, investigat...","[EricMabius, KristinBooth, CrystalLowe]",[ScottSmith],"[""Signed,, Sealed,, Delivered"", introduces, a,..."
4331,126186,Shanghai Calling,"[When, ambitious, New, York, attorney, Sam, is...",[],[],"[DanielHenney, ElizaCoupe, BillPaxton]",[DanielHsia],"[When, ambitious, New, York, attorney, Sam, is..."
4332,25975,My Date with Drew,"[Ever, since, the, second, grade, when, he, fi...",[Documentary],"[obsession, camcorder, crush, dreamgirl]","[DrewBarrymore, BrianHerzlinger, CoreyFeldman]","[BrianHerzlinger, JonGunn, BrettWinn]","[Ever, since, the, second, grade, when, he, fi..."

In [44]:
meta_movies = meta_movies.drop_duplicates(subset = ['title', 'movie_id'])
meta_movies

,movie_id,title,overview,genres,keywords,cast,crew,tags
0,19995,Avatar,"[In, the, 22nd, century,, a, paraplegic, Marin...","[Action, Adventure, Fantasy, ScienceFiction]","[cultureclash, future, spacewar, spacecolony, ...","[SamWorthington, ZoeSaldana, SigourneyWeaver]",[JamesCameron],"[In, the, 22nd, century,, a, paraplegic, Marin..."
1,285,Pirates of the Caribbean: At World's End,"[Captain, Barbossa,, long, believed, to, be, d...","[Adventure, Fantasy, Action]","[ocean, drugabuse, exoticisland, eastindiatrad...","[JohnnyDepp, OrlandoBloom, KeiraKnightley]",[GoreVerbinski],"[Captain, Barbossa,, long, believed, to, be, d..."
2,206647,Spectre,"[A, cryptic, message, from, Bond’s, past, send...","[Action, Adventure, Crime]","[spy, basedonnovel, secretagent, sequel, mi6, ...","[DanielCraig, ChristophWaltz, LéaSeydoux]",[SamMendes],"[A, cryptic, message, from, Bond’s, past, send..."
4,49529,John Carter,"[John, Carter, is, a, war-weary,, former, mili...","[Action, Adventure, ScienceFiction]","[basedonnovel, mars, medallion, spacetravel, p...","[TaylorKitsch, LynnCollins, SamanthaMorton]",[AndrewStanton],"[John, Carter, is, a, war-weary,, former, mili..."
5,559,Spider-Man 3,"[The, seemingly, invincible, Spider-Man, goes,...","[Fantasy, Action, Adventure]","[dualidentity, amnesia, sandstorm, loveofone's...","[TobeyMaguire, KirstenDunst, JamesFranco]",[SamRaimi],"[The, seemingly, invincible, Spider-Man, goes,..."
...,...,...,...,...,...,...,...,...
4328,14337,Primer,"[Friends/fledgling, entrepreneurs, invent, a, ...","[ScienceFiction, Drama, Thriller]","[distrust, garage, identitycrisis, timetravel,...","[ShaneCarruth, DavidSullivan, CaseyGooden]",[ShaneCarruth],"[Friends/fledgling, entrepreneurs, invent, a, ..."
4329,72766,Newlyweds,"[A, newlywed, couple's, honeymoon, is, upended...","[Comedy, Romance]",[],"[EdwardBurns, KerryBishé, MarshaDietlein]",[EdwardBurns],"[A, newlywed, couple's, honeymoon, is, upended..."
4330,231617,"Signed, Sealed, Delivered","[""Signed,, Sealed,, Delivered"", introduces, a,...","[Comedy, Drama, Romance, TVMovie]","[date, loveatfirstsight, narration, investigat...","[EricMabius, KristinBooth, CrystalLowe]",[ScottSmith],"[""Signed,, Sealed,, Delivered"", introduces, a,..."
4331,126186,Shanghai Calling,"[When, ambitious, New, York, attorney, Sam, is...",[],[],"[DanielHenney, ElizaCoupe, BillPaxton]",[DanielHsia],"[When, ambitious, New, York, attorney, Sam, is..."
4332,25975,My Date with Drew,"[Ever, since, the, second, grade, when, he, fi...",[Documentary],"[obsession, camcorder, crush, dreamgirl]","[DrewBarrymore, BrianHerzlinger, CoreyFeldman]","[BrianHerzlinger, JonGunn, BrettWinn]","[Ever, since, the, second, grade, when, he, fi..."

In [38]:
# meta_movies = meta_movies.drop_duplicates()
content_movies_dataframe= meta_movies.drop(columns=['overview','genres','keywords','cast','crew'])
content_movies_dataframe.head()

,movie_id,title,tags
0,19995,Avatar,"[In, the, 22nd, century,, a, paraplegic, Marin..."
1,285,Pirates of the Caribbean: At World's End,"[Captain, Barbossa,, long, believed, to, be, d..."
2,206647,Spectre,"[A, cryptic, message, from, Bond’s, past, send..."
3,206647,Spectre,"[A, cryptic, message, from, Bond’s, past, send..."
4,49529,John Carter,"[John, Carter, is, a, war-weary,, former, mili..."

In [46]:
content_movies_dataframe['tags'] = content_movies_dataframe['tags'].apply(lambda x: " ".join(x))
content_movies_dataframe.head()

,movie_id,title,tags
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di..."
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha..."
2,206647,Spectre,A cryptic message from Bond’s past sends him o...
3,206647,Spectre,A cryptic message from Bond’s past sends him o...
4,49529,John Carter,"John Carter is a war-weary, former military ca..."

### 10. Vectorization
The `tags` column is vectorized using `CountVectorizer` from Scikit-Learn. This process converts the text data in the `tags` column into a numerical format that can be used for similarity calculations. The `CountVectorizer` is configured to handle a maximum of 5000 features and remove English stop words, which helps in focusing on the most meaningful terms.

In [47]:
from sklearn.feature_extraction.text import CountVectorizer
cv = CountVectorizer(max_features=5000,stop_words='english')

In [48]:
content_vector = cv.fit_transform(content_movies_dataframe['tags']).toarray()

In [49]:
content_vector.shape

(4332, 5000)

### 11. Calculating Similarity
Cosine similarity is used to measure the similarity between movies based on their vectorized `tags`. This technique calculates how similar two vectors are by determining the cosine of the angle between them, providing a measure of how closely related two movies are in terms of their tags.

In [50]:
from sklearn.metrics.pairwise import cosine_similarity

In [51]:
# getting cosine similarity for content based recommendation
content_similarity_score = cosine_similarity(content_vector)
content_similarity_score

array([[1.        , 0.08492078, 0.05661385, ..., 0.0238705 , 0.02632491,
        0.        ],
       [0.08492078, 1.        , 0.0625    , ..., 0.02635231, 0.        ,
        0.        ],
       [0.05661385, 0.0625    , 1.        , ..., 0.02635231, 0.        ,
        0.        ],
       ...,
       [0.0238705 , 0.02635231, 0.02635231, ..., 1.        , 0.07352146,
        0.04901431],
       [0.02632491, 0.        , 0.        , ..., 0.07352146, 1.        ,
        0.05405405],
       [0.        , 0.        , 0.        , ..., 0.04901431, 0.05405405,
        1.        ]])

In [52]:
content_similarity_score.shape

(4332, 4332)

In [53]:
# getting cosine similarity score for item based collaborative recommendation
collaborative_similarity_scores = cosine_similarity(user_movie_rating_table)
collaborative_similarity_scores

array([[1.        , 0.28562206, 0.34968254, ..., 0.05381022, 0.11547434,
        0.09927717],
       [0.28562206, 1.        , 0.78857938, ..., 0.17352017, 0.11588363,
        0.29567943],
       [0.34968254, 0.78857938, 1.        , ..., 0.15666382, 0.16344597,
        0.25297915],
       ...,
       [0.05381022, 0.17352017, 0.15666382, ..., 1.        , 0.01953625,
        0.15106068],
       [0.11547434, 0.11588363, 0.16344597, ..., 0.01953625, 1.        ,
        0.02713551],
       [0.09927717, 0.29567943, 0.25297915, ..., 0.15106068, 0.02713551,
        1.        ]])

In [54]:
collaborative_similarity_scores.shape

(2660, 2660)

### 12. Building the Recommendation Function
The `recommend()` function is designed to take a movie title as input and return a list of the top 5 similar movies based on content similarity. This function uses the similarity matrix to find movies that are most similar to the input movie.

In [ ]:
!pip install python-Levenshtein

In [55]:
from fuzzywuzzy import process

In [56]:
meta_movies

,movie_id,title,overview,genres,keywords,cast,crew,tags
0,19995,Avatar,"[In, the, 22nd, century,, a, paraplegic, Marin...","[Action, Adventure, Fantasy, ScienceFiction]","[cultureclash, future, spacewar, spacecolony, ...","[SamWorthington, ZoeSaldana, SigourneyWeaver]",[JamesCameron],"[In, the, 22nd, century,, a, paraplegic, Marin..."
1,285,Pirates of the Caribbean: At World's End,"[Captain, Barbossa,, long, believed, to, be, d...","[Adventure, Fantasy, Action]","[ocean, drugabuse, exoticisland, eastindiatrad...","[JohnnyDepp, OrlandoBloom, KeiraKnightley]",[GoreVerbinski],"[Captain, Barbossa,, long, believed, to, be, d..."
2,206647,Spectre,"[A, cryptic, message, from, Bond’s, past, send...","[Action, Adventure, Crime]","[spy, basedonnovel, secretagent, sequel, mi6, ...","[DanielCraig, ChristophWaltz, LéaSeydoux]",[SamMendes],"[A, cryptic, message, from, Bond’s, past, send..."
4,49529,John Carter,"[John, Carter, is, a, war-weary,, former, mili...","[Action, Adventure, ScienceFiction]","[basedonnovel, mars, medallion, spacetravel, p...","[TaylorKitsch, LynnCollins, SamanthaMorton]",[AndrewStanton],"[John, Carter, is, a, war-weary,, former, mili..."
5,559,Spider-Man 3,"[The, seemingly, invincible, Spider-Man, goes,...","[Fantasy, Action, Adventure]","[dualidentity, amnesia, sandstorm, loveofone's...","[TobeyMaguire, KirstenDunst, JamesFranco]",[SamRaimi],"[The, seemingly, invincible, Spider-Man, goes,..."
...,...,...,...,...,...,...,...,...
4328,14337,Primer,"[Friends/fledgling, entrepreneurs, invent, a, ...","[ScienceFiction, Drama, Thriller]","[distrust, garage, identitycrisis, timetravel,...","[ShaneCarruth, DavidSullivan, CaseyGooden]",[ShaneCarruth],"[Friends/fledgling, entrepreneurs, invent, a, ..."
4329,72766,Newlyweds,"[A, newlywed, couple's, honeymoon, is, upended...","[Comedy, Romance]",[],"[EdwardBurns, KerryBishé, MarshaDietlein]",[EdwardBurns],"[A, newlywed, couple's, honeymoon, is, upended..."
4330,231617,"Signed, Sealed, Delivered","[""Signed,, Sealed,, Delivered"", introduces, a,...","[Comedy, Drama, Romance, TVMovie]","[date, loveatfirstsight, narration, investigat...","[EricMabius, KristinBooth, CrystalLowe]",[ScottSmith],"[""Signed,, Sealed,, Delivered"", introduces, a,..."
4331,126186,Shanghai Calling,"[When, ambitious, New, York, attorney, Sam, is...",[],[],"[DanielHenney, ElizaCoupe, BillPaxton]",[DanielHsia],"[When, ambitious, New, York, attorney, Sam, is..."
4332,25975,My Date with Drew,"[Ever, since, the, second, grade, when, he, fi...",[Documentary],"[obsession, camcorder, crush, dreamgirl]","[DrewBarrymore, BrianHerzlinger, CoreyFeldman]","[BrianHerzlinger, JonGunn, BrettWinn]","[Ever, since, the, second, grade, when, he, fi..."

In [71]:

available_movies = meta_movies['title'].to_list()
available_movies = [item.lower() for item in available_movies]
available_movies

['avatar',
 "pirates of the caribbean: at world's end",
 'spectre',
 'john carter',
 'spider-man 3',
 'tangled',
 'avengers: age of ultron',
 'harry potter and the half-blood prince',
 'batman v superman: dawn of justice',
 'superman returns',
 'quantum of solace',
 "pirates of the caribbean: dead man's chest",
 'the lone ranger',
 'man of steel',
 'pirates of the caribbean: on stranger tides',
 'the hobbit: the battle of the five armies',
 'robin hood',
 'king kong',
 'titanic',
 'captain america: civil war',
 'battleship',
 'jurassic world',
 'skyfall',
 'spider-man 2',
 'iron man 3',
 'alice in wonderland',
 'x-men: the last stand',
 'monsters university',
 'transformers: revenge of the fallen',
 'transformers: age of extinction',
 'the amazing spider-man 2',
 'cars 2',
 'green lantern',
 'toy story 3',
 'terminator salvation',
 'furious 7',
 'world war z',
 'x-men: days of future past',
 'star trek into darkness',
 'jack the giant slayer',
 'the great gatsby',
 'prince of persia: the sands of time',
 'pacific rim',
 'transformers: dark of the moon',
 'indiana jones and the kingdom of the crystal skull',
 'the good dinosaur',
 'brave',
 'star trek beyond',
 'wall·e',
 'rush hour 3',
 '2012',
 'a christmas carol',
 'jupiter ascending',
 'the legend of tarzan',
 'the chronicles of narnia: the lion, the witch and the wardrobe',
 'x-men: apocalypse',
 'the dark knight',
 'up',
 'iron man',
 'hugo',
 'wild wild west',
 'suicide squad',
 'evan almighty',
 'edge of tomorrow',
 'waterworld',
 'g.i. joe: the rise of cobra',
 'inside out',
 'the jungle book',
 'iron man 2',
 'snow white and the huntsman',
 'maleficent',
 'dawn of the planet of the apes',
 'the lovers',
 '47 ronin',
 'captain america: the winter soldier',
 'tomorrowland',
 'big hero 6',
 'wreck-it ralph',
 'independence day: resurgence',
 'how to train your dragon',
 'terminator 3: rise of the machines',
 'guardians of the galaxy',
 'interstellar',
 'inception',
 'shin godzilla',
 'x-men: first class',
 'the hunger games: mockingjay - part 2',
 "the sorcerer's apprentice",
 'poseidon',
 'alice through the looking glass',
 'shrek the third',
 'warcraft',
 'terminator genisys',
 'pearl harbor',
 'transformers',
 'alexander',
 'harry potter and the order of the phoenix',
 'harry potter and the goblet of fire',
 'hancock',
 'i am legend',
 'charlie and the chocolate factory',
 'ratatouille',
 'batman begins',
 'madagascar: escape 2 africa',
 'night at the museum: battle of the smithsonian',
 'x-men origins: wolverine',
 'frozen',
 'thor: the dark world',
 'mad max: fury road',
 'angels & demons',
 'thor',
 'bolt',
 'g-force',
 'wrath of the titans',
 'dark shadows',
 'mission: impossible - rogue nation',
 'bee movie',
 'kung fu panda 2',
 'mission: impossible iii',
 'white house down',
 'mars needs moms',
 'flushed away',
 'pan',
 'mr. peabody & sherman',
 'troy',
 "madagascar 3: europe's most wanted",
 'die another day',
 'ghostbusters',
 'armageddon',
 'beowulf',
 'kung fu panda 3',
 'mission: impossible - ghost protocol',
 'rise of the guardians',
 'fun with dick and jane',
 'exodus: gods and kings',
 'star trek',
 'spider-man',
 'how to train your dragon 2',
 'gods of egypt',
 'stealth',
 'watchmen',
 'lethal weapon 4',
 'hulk',
 'g.i. joe: retaliation',
 'sahara',
 'final fantasy: the spirits within',
 'captain america: the first avenger',
 'master and commander: the far side of the world',
 'happy feet two',
 'the bfg',
 'the revenant',
 'turbo',
 'rango',
 'penguins of madagascar',
 'kung fu panda',
 'ant-man',
 'the hunger games: catching fire',
 'home',
 'war of the worlds',
 'bad boys ii',
 'puss in boots',
 'salt',
 'noah',
 'harry potter and the prisoner of azkaban',
 'australia',
 'after earth',
 'dinosaur',
 'night at the museum: secret of the tomb',
 'megamind',
 'r.i.p.d.',
 'pirates of the caribbean: the curse of the black pearl',
 'the hunger games: mockingjay - part 1',
 'rio 2',
 'sherlock holmes: a game of shadows',
 'clash of the titans',
 'total recall',
 'batman & robin',
 'mission: impossible ii',
 'life of pi',
 'ghost rider',
 'jason bourne',
 "charlie's angels: full throttle",
 'prometheus',
 'stuart little 2',
 'elysium',
 'robocop',
 'speed racer',
 'how do you know',
 'knight and day',
 'oblivion',
 'star wars: episode iii - revenge of the sith',
 'star wars: episode ii - attack of the clones',
 'monsters, inc.',
 'star wars: episode i - the phantom menace',
 'windtalkers',
 'teenage mutant ninja turtles',
 'gravity',
 "dante's peak",
 'teenage mutant ninja turtles: out of the shadows',
 'fantastic four',
 'night at the museum',
 'san andreas',
 'tomorrow never dies',
 "ocean's twelve",
 'mr. & mrs. smith',
 'insurgent',
 "gulliver's travels",
 'the green hornet',
 '300: rise of an empire',
 'home on the range',
 'real steel',
 'speed 2: cruise control',
 "ender's game",
 'live free or die hard',
 'around the world in 80 days',
 'ali',
 'i, robot',
 'kingdom of heaven',
 'stuart little',
 'the martian',
 'the island',
 'town & country',
 'gladiator',
 'minority report',
 'harry potter and the chamber of secrets',
 'casino royale',
 'planet of the apes',
 'terminator 2: judgment day',
 'public enemies',
 'american gangster',
 'true lies',
 'little fockers',
 'eraser',
 'django unchained',
 'national treasure',
 'eragon',
 'where the wild things are',
 'epic',
 'end of days',
 'blood diamond',
 'batman forever',
 'starship troopers',
 'cloud atlas',
 "legend of the guardians: the owls of ga'hoole",
 'catwoman',
 'hercules',
 'treasure planet',
 'land of the lost',
 'the expendables 3',
 'point break',
 'son of the mask',
 'in the heart of the sea',
 'green zone',
 'gangs of new york',
 "surf's up",
 'black hawk down',
 'sex and the city 2',
 'cinderella',
 'finding nemo',
 'seventh son',
 'lara croft: tomb raider',
 'transcendence',
 'jurassic park iii',
 'rise of the planet of the apes',
 'the alamo',
 'cutthroat island',
 'percy jackson & the olympians: the lightning thief',
 'toy story 2',
 'unstoppable',
 'rush hour 2',
 'what lies beneath',
 'cloudy with a chance of meatballs',
 'ice age: dawn of the dinosaurs',
 "charlie's angels",
 'mulan',
 'tropic thunder',
 'die hard: with a vengeance',
 'sherlock holmes',
 'ben-hur',
 'atlantis: the lost empire',
 'alvin and the chipmunks: the road chip',
 'valkyrie',
 "you don't mess with the zohan",
 'pixels',
 'a.i. artificial intelligence',
 'contact',
 'hollow man',
 'the interpreter',
 'percy jackson: sea of monsters',
 'lara croft tomb raider: the cradle of life',
 'now you see me 2',
 'the saint',
 'spy game',
 'mission to mars',
 'rio',
 'bicentennial man',
 'volcano',
 'k-19: the widowmaker',
 'conan the barbarian',
 'cinderella man',
 'seabiscuit',
 'twister',
 'cast away',
 'happy feet',
 'air force one',
 "ocean's eleven",
 'the three musketeers',
 'hotel transylvania',
 'enchanted',
 'safe house',
 '102 dalmatians',
 'tower heist',
 'enemy of the state',
 "it's complicated",
 "ocean's thirteen",
 'open season',
 'divergent',
 'enemy at the gates',
 'last action hero',
 'memoirs of a geisha',
 'arthur christmas',
 'meet joe black',
 'collateral damage',
 'all that jazz',
 'mirror mirror',
 'scott pilgrim vs. the world',
 'nutty professor ii: the klumps',
 'scooby-doo',
 'dredd',
 'click',
 'creepshow',
 'jumper',
 'hellboy ii: the golden army',
 'zodiac',
 'bruce almighty',
 'mission: impossible',
 'the hunger games',
 'batman returns',
 'over the hedge',
 'lilo & stitch',
 "charlotte's web",
 'deep impact',
 'alvin and the chipmunks: chipwrecked',
 'grown ups 2',
 'get smart',
 "something's gotta give",
 'shutter island',
 'four christmases',
 'robots',
 'face/off',
 'bedtime stories',
 'road to perdition',
 'just go with it',
 'con air',
 'eagle eye',
 'cold mountain',
 'flubber',
 'the haunting',
 'space jam',
 'conspiracy theory',
 'fury',
 'six days seven nights',
 'yogi bear',
 'spirit: stallion of the cimarron',
 'zookeeper',
 'lost in space',
 'déjà vu',
 'hotel transylvania 2',
 'fantasia 2000',
 'mighty joe young',
 'swordfish',
 'what dreams may come',
 'little nicky',
 'mars attacks!',
 'evolution',
 'the edge',
 'surrogates',
 'thirteen days',
 'daylight',
 'walking with dinosaurs',
 'battlefield earth',
 'looney tunes: back in action',
 'nine',
 'timeline',
 'babe: pig in the city',
 'the last witch hunter',
 'red planet',
 'arthur and the invisibles',
 'pompeii',
 'the lion king',
 'journey 2: the mysterious island',
 'cloudy with a chance of meatballs 2',
 'red dragon',
 'hidalgo',
 'jack and jill',
 'the little prince',
 'the secret life of pets',
 'despicable me 2',
 'madagascar',
 'children of men',
 'x-men',
 'wanted',
 '50 first dates',
 'hairspray',
 'exorcist: the beginning',
 'inspector gadget',
 'now you see me',
 'grown ups',
 'hotel for dogs',
 'vertical limit',
 "charlie wilson's war",
 'shark tale',
 'dreamgirls',
 'be cool',
 'munich',
 'tears of the sun',
 'killers',
 'the man from u.n.c.l.e.',
 'spanglish',
 'monster house',
 'bandits',
 'first knight',
 'anna and the king',
 'immortals',
 'hostage',
 'titan a.e.',
 'hollywood homicide',
 'soldier',
 'carriers',
 'monkeybone',
 'flight of the phoenix',
 'unbreakable',
 'minions',
 'sucker punch',
 'snake eyes',
 'sphere',
 'the angry birds movie',
 "fool's gold",
 'funny people',
 'talladega nights: the ballad of ricky bobby',
 'dr. dolittle 2',
 'braveheart',
 'jarhead',
 'driven',
 'the village',
 'doctor dolittle',
 'signs',
 'shrek 2',
 'cars',
 'runaway bride',
 'xxx',
 'ransom',
 'inglourious basterds',
 'hook',
 'die hard 2',
 's.w.a.t.',
 'vanilla sky',
 'lady in the water',
 'avp: alien vs. predator',
 'alvin and the chipmunks: the squeakquel',
 'we were soldiers',
 'olympus has fallen',
 'star trek: insurrection',
 'battle: los angeles',
 'big fish',
 'wolf',
 'war horse',
 'wall street: money never sleeps',
 'dracula untold',
 'stardust',
 'seven years in tibet',
 'bad company',
 'doom',
 'i spy',
 'underworld: awakening',
 'rock of ages',
 "hart's war",
 'killer elite',
 'rollerball',
 'ballistic: ecks vs. sever',
 'hard rain',
 'osmosis jones',
 "legends of oz: dorothy's return",
 'blackhat',
 'sky captain and the world of tomorrow',
 'basic instinct 2',
 'escape plan',
 'despicable me',
 'money train',
 'ted 2',
 'agora',
 'mystery men',
 'hall pass',
 'the finest hours',
 'body of lies',
 'dinner for schmucks',
 'abraham lincoln: vampire hunter',
 'entrapment',
 'saving private ryan',
 'need for speed',
 'what women want',
 'ice age',
 'dreamcatcher',
 'lincoln',
 'apollo 13',
 'les misérables',
 "you've got mail",
 'step brothers',
 'due date',
 'unbroken',
 'space cowboys',
 'cliffhanger',
 'broken arrow',
 'the kid',
 'world trade center',
 'mona lisa smile',
 'eyes wide shut',
 'annie',
 'focus',
 'this means war',
 'blade: trinity',
 'red dawn',
 'primary colors',
 'resident evil: retribution',
 'death race',
 'proof of life',
 'fight club',
 'we are marshall',
 'hudson hawk',
 'lucky numbers',
 'i, frankenstein',
 'oliver twist',
 'elektra',
 'sin city: a dame to kill for',
 'random hearts',
 'everest',
 'perfume: the story of a murderer',
 'austin powers in goldmember',
 'astro boy',
 'jurassic park',
 'wyatt earp',
 'clear and present danger',
 'dragon blade',
 'little man',
 'u-571',
 '3000 miles to graceland',
 'the hateful eight',
 'blades of glory',
 'hop',
 '300',
 'meet the fockers',
 'marley & me',
 'wild hogs',
 'chicken little',
 'gone girl',
 'goldeneye',
 'daddy day care',
 '2 guns',
 'cats & dogs',
 'two weeks notice',
 'antz',
 'couples retreat',
 'days of thunder',
 'cheaper by the dozen 2',
 'eat pray love',
 'any given sunday',
 'collateral',
 'the scorpion king',
 'ladder 49',
 'jack reacher',
 'deep blue sea',
 'contagion',
 'kangaroo jack',
 'coraline',
 'the happening',
 'man on fire',
 'starsky & hutch',
 'jingle all the way',
 'hellboy',
 'paranorman',
 'paycheck',
 'under siege 2: dark territory',
 'jack ryan: shadow recruit',
 'joy',
 'london has fallen',
 'alien: resurrection',
 'shooter',
 'practical magic',
 'the lego movie',
 'miss congeniality 2: armed and fabulous',
 'reign of fire',
 'gangster squad',
 'year one',
 'invictus',
 'state of play',
 'duplicity',
 'my favorite martian',
 'the sentinel',
 'planet 51',
 'star trek: nemesis',
 'intolerable cruelty',
 'trouble with the curve',
 'edge of darkness',
 'analyze that',
 'righteous kill',
 'mercury rising',
 'almost famous',
 'garfield: a tail of two kitties',
 'xxx: state of the union',
 'priest',
 'sinbad: legend of the seven seas',
 'event horizon',
 'dragonfly',
 'flyboys',
 'supernova',
 "winter's tale",
 'meet dave',
 'dark water',
 'inkheart',
 'mortdecai',
 'in the name of the king: a dungeon siege tale',
 'beyond borders',
 'the great raid',
 'deadpool',
 'holy man',
 'american sniper',
 'goosebumps',
 'just like heaven',
 'rambo iii',
 'leatherheads',
 'the ridiculous 6',
 'did you hear about the morgans?',
 'resident evil: afterlife',
 'red tails',
 "the devil's advocate",
 "that's my boy",
 'after the sunset',
 'ghost rider: spirit of vengeance',
 "captain corelli's mandolin",
 'walking tall',
 'forrest gump',
 'alvin and the chipmunks',
 'meet the parents',
 'pocahontas',
 'superman',
 'hitch',
 'george of the jungle',
 'captain phillips',
 'date night',
 'casper',
 'maid in manhattan',
 'crimson tide',
 'flightplan',
 'disclosure',
 'city of angels',
 'kill bill: vol. 1',
 'bowfinger',
 'kill bill: vol. 2',
 'tango & cash',
 'death becomes her',
 'shanghai noon',
 'executive decision',
 "mr. popper's penguins",
 'free birds',
 'evita',
 'ronin',
 'paddington',
 'the hunted',
 'instinct',
 'stuck on you',
 'semi-pro',
 'changeling',
 'chain reaction',
 'the phantom of the opera',
 'elizabeth: the golden age',
 'gods and generals',
 'turbulence',
 'imagine that',
 'muppets most wanted',
 'thunderbirds',
 'burlesque',
 'lolita',
 'blade ii',
 'seven pounds',
 'bullet to the head',
 'elizabethtown',
 'you, me and dupree',
 'superman ii',
 'gigli',
 "all the king's men",
 'shaft',
 'anastasia',
 'domestic disturbance',
 'black mass',
 'flags of our fathers',
 'law abiding citizen',
 'grindhouse',
 'beloved',
 'lucky you',
 'catch me if you can',
 'zero dark thirty',
 'mamma mia!',
 "valentine's day",
 'the thin red line',
 'man on the moon',
 'casino',
 'from paris with love',
 'bulletproof monk',
 'me, myself & irene',
 'deck the halls',
 'shrek',
 'robin hood: prince of thieves',
 'jerry maguire',
 'ted',
 'as good as it gets',
 'patch adams',
 'anchorman 2: the legend continues',
 'mr. deeds',
 'super 8',
 'erin brockovich',
 'how to lose a guy in 10 days',
 '22 jump street',
 'yes man',
 'central intelligence',
 'stepmom',
 "daddy's home",
 'into the woods',
 'inside man',
 'payback',
 'congo',
 'we bought a zoo',
 'knowing',
 'failure to launch',
 'crazy, stupid, love.',
 'christmas with the kranks',
 'moneyball',
 'outbreak',
 'non-stop',
 'race to witch mountain',
 'v for vendetta',
 'shanghai knights',
 'curious george',
 "don't say a word",
 'hansel & gretel: witch hunters',
 'unfaithful',
 'i am number four',
 'syriana',
 'the book of life',
 'firewall',
 'absolute power',
 'g.i. jane',
 'the game',
 'silent hill',
 'into the storm',
 'beverly hills cop iii',
 'gremlins 2: the new batch',
 'resident evil: apocalypse',
 'bridget jones: the edge of reason',
 'out of time',
 'on deadly ground',
 'raising helen',
 'ninja assassin',
 'for love of the game',
 'striptease',
 'marmaduke',
 'hereafter',
 'murder by numbers',
 'assassins',
 'hannibal rising',
 'basic',
 'blood work',
 'escape from l.a.',
 'free state of jones',
 'man of the house',
 'run all night',
 'eastern promises',
 'into the blue',
 'your highness',
 'dream house',
 'mad city',
 "baby's day out",
 'fair game',
 'domino',
 'jade',
 'gamer',
 'beautiful creatures',
 'death to smoochy',
 'zoolander 2',
 'the big bounce',
 'what planet are you from?',
 'drive angry',
 'street fighter: the legend of chun-li',
 'the one',
 'traffic',
 'indiana jones and the last crusade',
 'anna karenina',
 'chappie',
 'panic room',
 'the tooth fairy',
 'three kings',
 'child 44',
 'rat race',
 'k-pax',
 'kate & leopold',
 'bedazzled',
 '3:10 to yuma',
 'taken 3',
 'out of sight',
 'earth',
 'dick tracy',
 'riding in cars with boys',
 'solaris',
 "happily n'ever after",
 'mary reilly',
 "my best friend's wedding",
 "america's sweethearts",
 'insomnia',
 'star trek: first contact',
 'jonah hex',
 'courage under fire',
 'liar liar',
 'the infiltrator',
 'inchon',
 'taken 2',
 'scary movie 3',
 'miss congeniality',
 'journey to the center of the earth',
 'the client',
 'patriot games',
 'monster-in-law',
 'prisoners',
 'training day',
 'galaxy quest',
 'scary movie 2',
 'blade',
 'coach carter',
 'changing lanes',
 'anaconda',
 'coyote ugly',
 'love actually',
 'from hell',
 'tin cup',
 'yours, mine and ours',
 'kicking & screaming',
 'fat albert',
 'resident evil: extinction',
 'blended',
 'last holiday',
 'savages',
 'cellular',
 'johnny english',
 'dune',
 'across the universe',
 'revolutionary road',
 '16 blocks',
 'babylon a.d.',
 'multiplicity',
 'aliens in the attic',
 'the phantom',
 'all the pretty horses',
 'nixon',
 'deep rising',
 'miracle at st. anna',
 'bangkok dangerous',
 'big trouble',
 'love in the time of cholera',
 'shadow conspiracy',
 'johnny english reborn',
 'foodfight!',
 'argo',
 'the bounty hunter',
 'sleepers',
 'rambo: first blood part ii',
 'pinocchio',
 "heaven's gate",
 'underworld: evolution',
 'victor frankenstein',
 'finding forrester',
 '28 days',
 'unleashed',
 'the firm',
 'charlie st. cloud',
 '21 jump street',
 'notting hill',
 'chicken run',
 'along came polly',
 'boomerang',
 'the heat',
 'cleopatra',
 'here comes the boom',
 'high crimes',
 'licence to kill',
 'red riding hood',
 '15 minutes',
 'super mario bros.',
 'lord of war',
 'hero',
 'one for the money',
 'the interview',
 '8 mile',
 'why i did (not) eat my father',
 'the sixth sense',
 'man on a ledge',
 'american hustle',
 'the proposal',
 'double jeopardy',
 'back to the future part ii',
 'lucy',
 'fifty shades of grey',
 'spy kids 3-d: game over',
 'cheaper by the dozen',
 'lone survivor',
 'the conjuring 2',
 "he's just not that into you",
 'scary movie 4',
 'scream 3',
 'back to the future part iii',
 'get hard',
 'dracula',
 'julie & julia',
 '42',
 'dumb and dumber to',
 'eight below',
 'the intern',
 'ride along 2',
 'the last of the mohicans',
 'ray',
 'sin city',
 'vantage point',
 'i love you, man',
 'shallow hal',
 'jfk',
 "big momma's house 2",
 '17 again',
 'bridge of spies',
 'behind enemy lines',
 'get him to the greek',
 'shall we dance?',
 'small soldiers',
 'spawn',
 'the count of monte cristo',
 'unknown',
 'horrible bosses 2',
 'escape from planet earth',
 'apocalypto',
 'predators',
 'legal eagles',
 'secret window',
 'made of honor',
 'jersey boys',
 'gothika',
 'amistad',
 'medicine man',
 'autumn in new york',
 'music and lyrics',
 'paul',
 'scream 4',
 '8mm',
 'sex tape',
 'hanging up',
 'final destination 5',
 'mickey blue eyes',
 'pay it forward',
 'fever pitch',
 'drillbit taylor',
 'a million ways to die in the west',
 'morning glory',
 "get rich or die tryin'",
 'rent',
 'bless the child',
 'sweet november',
 'mean streets',
 'renaissance man',
 'colombiana',
 'quest for camelot',
 'at first sight',
 'torque',
 'city hall',
 'showgirls',
 'marie antoinette',
 'kiss of death',
 'get carter',
 'ishtar',
 'fantastic mr. fox',
 'life or something like it',
 'memoirs of an invisible man',
 'new york minute',
 'alfie',
 'big miracle',
 "cirque du freak: the vampire's assistant",
 'duplex',
 'soul men',
 'raise the titanic',
 'universal soldier: the return',
 'pandorum',
 'impostor',
 'extreme ops',
 'just visiting',
 'sunshine',
 'delgo',
 ...]

In [82]:
# content based recommendation
def recommend_cb(movie):
    content_rec= []
    if movie.lower() in available_movies:
        index = content_movies_dataframe[content_movies_dataframe['title'].map(lambda x: x.lower()) == movie.lower()].index[0]
        distances = sorted(list(enumerate(content_similarity_score[index])),reverse=True,key = lambda x: x[1])
        content_rec= []
        for i in distances[1:6]:
            content_rec.append(content_movies_dataframe.iloc[i[0]].title)
    return content_rec

In [81]:
# item based collaborative recommendation
def recommend_cf(movie_name):
    recommended_movies = []
    if movie_name.lower() in available_movies:
        # Extract input movie ID
        movie_index = process.extractOne(movie_name, movies['title'])[2]
        movie_id = movies['movie_id'].iloc[movie_index]

        # index fetch
        index = np.where(user_movie_rating_table.index==movie_id)[0][0]
        similar_items = sorted(list(enumerate(collaborative_similarity_scores[index])),key=lambda x:x[1],reverse=True)[1:6]

        for i in similar_items:
            item = []
            temp_df = movies[movies['movie_id'] == user_movie_rating_table.index[i[0]]]
            recommedation = temp_df['title'].values[0]
            recommended_movies.append(recommedation)
    
    return recommended_movies

In [ ]:
# hybrid recommendation
def recommend(movie_name):
    content_based_score = recommend_cb(movie_name)
    collaborative_filtering_score = recommend_cf(movie_name)
    hybrid_rec = list(set(content_based_score + collaborative_filtering_score))
    if len(hybrid_rec)>=0:
        return hybrid_rec[0:7]
    else:
        print("No Movies Found for Recommendation")

### 13. Example Usage
To get movie recommendations using the `recommend()` function, simply provide the title of a movie as input. For example, to find movies similar to "Avatar", use the following code:

In [77]:
recommend_cb('avatar')

['Titan A.E.', 'Aliens', 'Small Soldiers', 'Krull', "Ender's Game"]

In [85]:
recommend_cf('AvaTar')

['Inception', 'Iron Man', 'WALL·E', 'Up', 'District 9']

In [ ]:
movies.head(1)

In [ ]:
recommend('sdfsdf')

## Conclusion
This Netflix Movies Recommendation System effectively identifies similar movies based on content. By leveraging cosine similarity, the system ensures that the recommended movies closely match the input movie in terms of genres, keywords, cast, and crew. This approach provides users with personalized and relevant movie suggestions, enhancing their viewing experience.