In [1]:
# !pip install nbimporter
%run Movie_Recommendation_System_Collaborative.ipynb
%run Movies_Recomendation_System.ipynb
import nbimporter
from Movie_Recommendation_System_Collaborative import recommend_cf
from Movies_Recomendation_System import recommend_cb

Requirement already satisfied: python-Levenshtein in c:\users\smabi\anaconda3\lib\site-packages (0.25.1)
Requirement already satisfied: Levenshtein==0.25.1 in c:\users\smabi\anaconda3\lib\site-packages (from python-Levenshtein) (0.25.1)
Requirement already satisfied: rapidfuzz<4.0.0,>=3.8.0 in c:\users\smabi\anaconda3\lib\site-packages (from Levenshtein==0.25.1->python-Levenshtein) (3.9.6)
Inception
Iron Man
WALLÂ·E
Up
CountVectorizer(max_features=5000, stop_words='english')

In [2]:
import pandas as pd
import numpy as np

In [3]:
movies = pd.read_csv("tmdb_5000_movies.csv")
movies = movies[['id', 'title']]
movies.head(1)

      id   title
0  19995  Avatar

In [4]:
def hybrid_recommendation(movie_name):
    movie_id = movies[movies['title'] == movie_name]['id'].iloc[0]
    content_based_score = recommend_cb(movie_name)
    collaborative_filtering_score = recommend_cb(movie_name)
    return alpha * content_based_score + (1 - alpha) * collaborative_filtering_score